body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
    margin: 50px;
}
/* Estilo del boton para enviar invitacion a google calendar*/
.container-googlecalender {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

h2 {
    color: #333;
}

button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ae8;
}

/* Fin estilo google calndar*/