/* Navbar base */
.navbar {
  background-color: rgba(58, 65, 69, 0.7);
  color: #fff;
  padding: 10px 20px;
  width: 95%;
  max-width: 900px; /* Ancho máximo para mantener proporción */
  display: flex;
  margin: 0 auto; /* Centrado horizontal */
  margin-top: 10px; /* Más elevado que antes */
  border-radius: 50px;
  position: absolute; /* Cambiado de absolute a fixed */
  top: 1px; /* Posición desde el borde superior */
  left: 50%; /* Centrado */
  transform: translateX(-50%); /* Ajuste fino para centrado perfecto */
  align-items: center;
  justify-content: space-around; /* Distribución uniforme de elementos */
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  height: 58px; /* Altura fija para mantener proporción */
}
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto                                                                            0px;
    gap: 50px;
    width: 100%;
    margin-left: 40px;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: auto 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
  }
  
  /* Ocultar elemento por defecto */
  .hidden {
    display: none !important;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: rgba(66, 80, 89, 0.7);
      width: 50%;
      padding: 10px;
      display: none;
      margin-top: 10px;
      border-radius: 10px;
      z-index: 100;
      align-items: center;
    }
  
    .navbar-menu.show {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
    .navbar-container {
      margin: 0 0px;
    }
    
  }
  