/* POPUP OVERLAY */
#popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    animation: fadeIn 0.8s forwards;
}

/* ANIMACIÓN DE APARICIÓN */
@keyframes fadeIn {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

/* ANIMACIÓN DE DESAPARICIÓN */
.fadeOut {
    animation: fadeOut 0.6s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        pointer-events: none;
    }
}

/* CONTENEDOR DEL POPUP */
#popupContent {
    position: relative;
    background: #fff;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);

    transform: scale(0.8);
    opacity: 0;
    animation: popUp 0.8s forwards 0.2s;
}

@keyframes popUp {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#popupContent img {
    width: 100%;
    height: auto;
    display: block;
}

/* TEXTO ENCIMA */
#popupText {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;

    font-family: "Parisienne", cursive;
    font-size: clamp(28px, 6vw, 55px);
    color: #5a0c0c;
    text-shadow: 0 0 15px rgba(255,255,255,0.95);

    pointer-events: none;
}

/* Ocultar */
.hidden {
    display: none !important;
}

/* MOBILE */
@media (max-width: 480px) {
    #popupContent {
        width: 90%;
    }

    #popupText {
        font-size: 36px;
    }
}

/* Estilos para PopUp del formulario de confirmacion */

 /* Estilos de los pop-ups */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 4px solid #7a0d2d;
  }
  
  .btn-modal {
    background-color: #7a0d2d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  } 
    .btn-modal:hover {
        background-color: #5a0c1f;
    }

    .cerrar-modal {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 32px;
        color: #7a0d2d;
        cursor: pointer;
        background: none;
        border: none;
    }
    .cerrar-modal:hover {
        color: #5a0c1f;
    }   

 